replicaCount: 2

image:
  repository: aqshey/argo_cd
  pullPolicy: IfNotPresent
  tag: "sha-720eb8b19df8e321545c431ba99ea82965aec787"
  port: 5000

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
