replicaCount: 2

image:
  repository: aqshey/argo_cd
  pullPolicy: IfNotPresent
  tag: "sha-ea3a64297daf4028f9f8eb45ce523c80186d9524"
  port: 5000

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
